<nav class="navbar navbar-preview fixed-top">
  <div class="sys-logo-con">
    <a href="/"><img class="sys-logo" src="/images/logo.png" alt="HTML tutorial" role="link" tabindex="0"></a>
  </div>
</nav>